<% if @restaurants.blank? %>

	<h3 class="text-center">Could not found any restaurants</h3>

<% else %>

	<% @restaurants.each do |a| %>
		<div class="row marketing">
		  <div class="col-lg-6">
		    <h4><%= link_to a.name, a %></h4>
		    <p><%= a.description %></p>
		    <p><%= a.phone %> &emsp; <%= a.email %></p>

		    
		  </div>

		  
		</div>
	<% end %>
<% end %>